.gridRow {
	display: flex;
	align-items: center;
	margin: 0 -0.5rem;
}

.alignCenter {
	justify-content: center;
}

.gridCell {
	margin: 0 0.5rem;
}

.fullWidth {
	width: 100%;
}

.takeRestOfSpace {
	flex: 1;
}