@keyframes fadeInUp {
  	from {
    	opacity: 0;
    	transform: translate3d(0, 100%, 0);
  	}

  	to {
    	opacity: 1;
    	transform: none;
  	}
}

.animated {
  	animation-duration: 1s;
  	animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.fadeInUp {
  	animation-name: fadeInUp;
}