.validation-tooltip {
	&.tooltip-inner {
		background: $btn-danger-bg;
	}

	&.tooltip-arrow {
		border-top-color: $btn-danger-bg !important; // override bootstrap styles
	}

	&:first-letter {
	  	text-transform: capitalize;
	}
}

@mixin cross-browser($property, $css) {
    -webkit-#{$property} : $css;
    -moz-#{$property} : $css;
    -o-#{$property} : $css;
    #{$property} : $css;
}


@mixin flexbox() {
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
  	-ms-flex: $values;
  	 flex: $values;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

html, body, #pet_project {
  height: 100%;
}

.contentContainer {
  padding: 5rem;
  display: flex;
  justify-content: center;
  min-height: 500px;
  align-items: center;
}

.usersList {
  width: 100%;
}