$menu-width: 270px;
$scene-width: 100%;
$scene-height: 530px;
$animation-duration: .25s;

$sections: document, woodpecker, pipedrive;

$colors: (
    document: #207347,
    woodpecker: #e21037,
    pipedrive: #2a2d30
);

@function get-color($name) {
    @if map-has-key($colors, $name) {
        @return map-get($colors, $name);
    }
 
    @else {
        @warn "This color doesn't exist."
    }
}


.list {
    display: flex;
    list-style: none;
    
    align-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    margin: 0;
    padding: 0;       

    li.item {

        height: 100%;

        input[type="radio"] {
            display: none;
        }

        i.fa {
            height: 100px;
            font-size: 40px;
            margin-left: 20px;
            float: left;
            margin-right: 15px;
        }

        label {
            display: block;
            opacity: .8;
            text-decoration: underline;
            height: 45px;
            line-height: 45px;
            padding-right: 10px;
      
            &:hover {
                opacity: .55;
                cursor: pointer;
            }

        }

        .content {
            width: 100%;
            height: 100%;

            animation-duration: 0.75s;
            animation-name: slideout;
            animation-timing-function: ease-out;
          
            display: none;

            align-items: center;
            justify-content: center;
            flex-direction: column;


        }

        &.selected {
            label {
                /*opacity: .5;*/
                animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                @each $item in $sections {
                    &.label_#{$item} {
                        color: #5fade5;
                        border-left: solid 4px #5fade5;
                    }
                }
            }

            .content {
                display: flex;
                /*animation-duration: 0.75s;
                animation-name: slidein;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);*/
            }
        }
    }
}



body {
    background: $color-gray;
  
    #scene {
        display: flex;
        align-items: center;
        justify-content: left;
    
        width: $scene-width;
        height: $scene-height;
        padding-right: 20px;
        /*background-color: $color-white;*/
        /*box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                    0 1px 2px rgba(0,0,0,0.24);*/
        overflow: hidden;
      
        #left-zone {
            height: 75%;
            flex-grow: 0;
            display: flex;
            /*width: $menu-width;*/
            align-items: center;
            justify-content: left;
      
            .list {
                @extend .list;
            }
        }
    
        #middle-border {
            background-color: $color-gray;
            height: 75%;
            flex-grow: 1;
            max-width: 2px;
            z-index: 0;
        }
        
        #right-zone {
            background: $color-white;
            height: 98%;
            flex-grow: 3;
            /*padding: 2rem;*/
            box-shadow: 0 2px 3px rgba(0,0,0,0.4), 0 2px 3px rgba(0,0,0,0.4);

            &:hover {
                transition: box-shadow $animation-duration ease-in-out;
                box-shadow: 1px 3px 5px rgba(0,0,0,0.5), 1px 3px 5px rgba(0,0,0,0.5);
            }

            .list {
                @extend .list;
            }
        }
    }
}


/* ----------------------- CARD -----------------------*/

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.card {
    background-color: $color-white;
    border-radius: 0.25rem;
    @include flexbox();
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    @include flex-direction(column);
    overflow: hidden;
    width: 100%;
}
.card:hover .card-image {
    /*@include cross-browser(filter, blur(0px));*/
}
.card-content {
    @include flexbox();

    @include flex(1 1 auto);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding: 2rem;
    @include flex-direction(column);
}
.card-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    /*@include cross-browser(filter, blur(1px));*/

    overflow: hidden;
    position: relative;
    max-height: 215px;

    /*margin-bottom: 20px;*/

    @include cross-browser(transition, filter $animation-duration ease);
}

.card-image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

@media (min-width: 40rem) {
    .card-image::before {
        padding-top: 66.6%;
    }
} 

@media (max-width: 750px) {
    .card-image {
        background-size: contain;
    }
}   

.document-img {
    background-image: url('../../static/img/document_screen.png');
}

.woodpecker-img {
    background-image: url('../../static/img/woodpecker_logo.jpg');
}

.pipedrive-img {
    background-image: url('../../static/img/pipedrive_logo.png');
}

