.loginModule {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	img {
		width: 100%;
		/*height: 100%;*/
		margin-bottom: 2rem;
	}

}

.loginFormContainer {
	min-width: 250px;
    width: 50vw;
    max-width: 450px;
}